Import Required python modules

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score
import pickle

In [37]:
#dataset = pd.read_csv("../../Dataset/50_Startups_dataset.csv")
dataset = pd.read_csv("../../Dataset/insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [39]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [46]:
dataset = dataset[['age', 'sex', 'bmi', 'children', 'smoker','charges']]
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

OneHot encoding

In [49]:
dataset = pd.get_dummies(dataset,dtype = int, drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [51]:
dataset.shape
dataset.describe()

,age,bmi,children,charges,sex_male,smoker_yes
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,13270.422265,0.505232,0.204783
std,14.049960,6.098187,1.205493,12110.011237,0.500160,0.403694
min,18.000000,15.960000,0.000000,1121.873900,0.000000,0.000000
25%,27.000000,26.296250,0.000000,4740.287150,0.000000,0.000000
50%,39.000000,30.400000,1.000000,9382.033000,1.000000,0.000000
75%,51.000000,34.693750,2.000000,16639.912515,1.000000,0.000000
max,64.000000,53.130000,5.000000,63770.428010,1.000000,1.000000

In [57]:
independent = dataset[['age', 'sex_male', 'bmi', 'children', 'smoker_yes']]
dependent = dataset[['charges']]

In [17]:
#x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [19]:
#x_train,y_train,x_test,y_test

In [59]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
independent = sc.fit_transform(independent)
#x_test = sc.fit(x_test)

In [ ]:
param_grid = {'n_estimators':[10,50,100,200],'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],'max_features':['auto','sqrt', 'log2']}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,n_jobs = -1,verbose=3)
grid.fit(independent,dependent)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

In [35]:
re=grid.cv_results_
print("The R score value for the best parameter {}:".format(grid.best_params_))
table = pd.DataFrame.from_dict(re)
table

The R score value for the best parameter {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 50}:

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001013,0.000016,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
1,0.001402,0.000858,0.000000,0.000000,squared_error,auto,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
2,0.001824,0.000680,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
3,0.001415,0.000506,0.000000,0.000000,squared_error,auto,200,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
4,0.039286,0.003082,0.005146,0.001083,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",-7.935121,-6.630624,-20.177908,-0.092371,-3.665261,-7.700257,6.797826,31
5,0.172971,0.003555,0.010119,0.000382,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",-7.930609,-8.303816,-9.729369,-0.942993,-3.700524,-6.121462,3.278114,27
6,0.336080,0.010822,0.015465,0.000561,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",-7.339943,-8.001428,-7.315798,-0.710637,-4.136480,-5.500857,2.747247,13
7,0.623511,0.011130,0.024763,0.001175,squared_error,sqrt,200,"{'criterion': 'squared_error', 'max_features':...",-7.264940,-7.710993,-6.862483,-1.065363,-3.985149,-5.377785,2.519760,9
8,0.044582,0.011736,0.004910,0.000499,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",-8.663186,-7.859070,-17.851829,-2.765776,-4.647263,-8.357425,5.206100,32
9,0.168386,0.012613,0.009437,0.000916,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",-6.930641,-8.266933,-8.284514,-2.082804,-3.763787,-5.865736,2.509144,20
10,0.320208,0.008442,0.014347,0.001926,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",-7.642366,-7.571631,-6.786865,-1.009441,-3.919307,-5.385922,2.574337,10
11,0.621019,0.008271,0.026431,0.000699,squared_error,log2,200,"{'criterion': 'squared_error', 'max_features':...",-7.344646,-7.367484,-6.854319,-0.705343,-3.982667,-5.250892,2.596350,2
12,0.000902,0.000661,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
13,0.001001,0.000001,0.000000,0.000000,friedman_mse,auto,50,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
14,0.001303,0.000402,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
15,0.001404,0.000494,0.000000,0.000000,friedman_mse,auto,200,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
16,0.033219,0.000683,0.005748,0.000959,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",-7.935324,-6.915825,-9.830236,-1.159735,-3.823064,-5.932837,3.078947,22
17,0.168388,0.004883,0.010274,0.000822,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",-7.587293,-7.361376,-8.330244,-1.749652,-3.892374,-5.784188,2.532886,19
18,0.304825,0.013202,0.014751,0.001377,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",-7.625273,-6.691660,-7.912986,-1.538907,-3.952031,-5.544171,2.442787,14
19,0.589618,0.036208,0.024215,0.003759,friedman_mse,sqrt,200,"{'criterion': 'friedman_mse', 'max_features': ...",-7.148206,-7.298606,-9.355642,-0.948616,-4.012793,-5.752772,2.947031,18
20,0.037664,0.004058,0.005315,0.000689,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",-9.228882,-7.966599,-9.857862,-3.418660,-3.786439,-6.851689,2.724430,29
21,0.156669,0.004524,0.010266,0.000905,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",-7.384559,-7.312320,-6.636260,-1.541739,-3.773324,-5.329641,2.307868,7
22,0.303024,0.007120,0.014782,0.001145,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",-8.112398,-7.173015,-6.419766,-0.953563,-3.969149,-5.325578,2.581900,6
23,0.585409,0.034128,0.024442,0.001949,friedman_mse,log2,200,"{'criterion': 'friedman_mse', 'max_features': ...",-7.701363,-7.557720,-10.207452,-1.066293,-3.999125,-6.106391,3.203503,26
24,0.001507,0.000450,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
25,0.001005,0.000008,0.000000,0.000000,absolute_error,auto,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
26,0.001004,0.000008,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
27,0.001404,0.000489,0.000000,0.000000,absolute_error,auto,200,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
28,0.036699,0.001321,0.004711,0.000604,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",-8.174238,-7.913396,-5.808378,-1.705128,-4.551032,-5.630434,2.378557,17
29,0.166537,0.004865,0.008925,0.000466,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",-6.887646,-7.334485,-7.405568,-1.207074,-4.484873,-5.463929,2.382237,11
30,0.323862,0.007853,0.014958,0.000676,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",-7.409476,-7.449536,-6.783414,-1.193197,-3.914060,-5.349937,2.451330,8
31,0.588240,0.063104,0.024093,0.003026,absolute_error,sqrt,200,"{'criterion': 'absolute_error', 'max_features'...",-7.047195,-6.820635,-7.445333,-1.290643,-3.986840,-5.318129,2.356488,5
32,0.037811,0.001614,0.004619,0.000593,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",-6.902911,-8.833136,-9.248180,-2.010012,-3.192130,-6.037274,2.939040,25
33,0.164916,0.003259,0.009322,0.000689,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",-7.763051,-8.550611,-7.530610,-1.514198,-4.307026,-5.933099,2.642837,23
34,0.324100,0.006835,0.014720,0.000405,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",-7.141211,-6.579292,-8.648707,-1.525068,-4.104687,-5.599793,2.508784,15
35,0.565068,0.066100,0.022979,0.004223,absolute_error,log2,200,"{'criterion': 'absolute_error', 'max_features'...",-7.064128,-6.947162,-7.490289,-0.905960,-3.993157,-5.280139,2.515397,3
36,0.001504,0.000447,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
37,0.001400,0.000490,0.000000,0.000000,poisson,auto,50,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
38,0.001205,0.000407,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
39,0.001408,0.000376,0.000000,0.000000,poisson,auto,200,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
40,0.036510,0.001781,0.004722,0.000937,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",-7.093299,-9.159371,-8.960250,-5.796068,-4.022719,-7.006341,1.940496,30
41,0.159646,0.003699,0.010108,0.000821,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",-7.139431,-6.256628,-7.402080,-0.869329,-3.586483,-5.050790,2.488929,1
42,0.304225,0.007050,0.013545,0.000709,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",-7.624068,-7.485568,-9.742325,-2.563539,-4.081963,-6.299493,2.603427,28
43,0.514327,0.067043,0.019854,0.003838,poisson,sqrt,200,"{'criterion': 'poisson', 'max_features': 'sqrt...",-7.429030,-7.518217,-8.708020,-2.033740,-3.903850,-5.918571,2.520809,21
44,0.035773,0.001535,0.005094,0.000091,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",-8.134824,-7.870834,-5.049522,-2.245219,-3.160944,-5.292268,2.392283,4
45,0.152137,0.005524,0.009116,0.000808,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",-7.490903,-8.486774,-5.872424,-1.592780,-3.995463,-5.487669,2.471941,12
46,0.308763,0.005128,0.014547,0.000553,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",-7.674117,-8.420578,-9.257880,-0.704927,-3.821783,-5.975857,3.226613,24
47,0.542566,0.017121,0.022862,0.000987,poisson,log2,200,"{'criterion': 'poisson', 'max_features': 'log2...",-7.450448,-7.476155,-7.538299,-1.906675,-3.705819,-5.615479,2.363408,16